/***********************************************/
/***************GLOBAL RESETTING****************/
/***********************************************/

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta San", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* 

### Primary

- Red: hsl(1, 90%, 64%)
- Blue: hsl(219, 85%, 26%)

### Neutral

- White: hsl(0, 0%, 100%)
- Very light grayish blue: hsl(210, 60%, 98%)
- Light grayish blue 1: hsl(211, 68%, 94%)
- Light grayish blue 2: hsl(205, 33%, 90%)
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%)

*/

/***********************************************/
/******************REUSABLE CODE****************/
/***********************************************/

.unread-message-icon {
  display: inline-block;
  color: #f65351;
  height: 1.2rem;
  width: 1.2rem;
}

.notification-message-unread {
  background-color: #f7fafd;
}

a {
  text-decoration: none;
}

/***********************************************/
/*************NOTIFICATION SECTION**************/
/***********************************************/

body {
  max-width: 144rem;
  background-color: #f7fafd;
  margin: auto;
}

main {
  display: grid;
  padding: 2rem;
  width: inherit;
  margin: 4rem auto;
  max-width: 80rem;
  color: #5e6778;
  background-color: #ffffff;
  box-shadow: 0 3px 30px #e5effa;
  border-radius: 1.6rem;

  justify-content: center;
  align-items: center;
  /* margin-bottom: 8rem; */
}

.content {
  margin: auto;
}

.header-notification {
  margin-bottom: 2rem;
}

.notifications-info {
  display: grid;
  grid-template-columns: 1fr 1fr;

  font-size: 1.6rem;
  font-weight: 800;
  color: #1c202b;
}

.notifications-info div span {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.1rem 0.9rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0a317b;
}

.notification {
  font-size: 2rem;
}

.notification-message {
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.mark-all-read {
  text-align: end;
  color: #939dae;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: #fff;
  border: none;
  cursor: pointer;
  align-items: center;
}

.notification-message {
  display: flex;
  padding: 0.5rem;
  font-size: 1.6rem;
  padding: 2rem 3rem 1.5rem 2rem;

  /* justify-content: center; */
  align-items: center;

  /* not real message */
}

.message-paragraph {
  margin-bottom: 0.5rem;
}

/* .your-picture {
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */

.your-picture p {
  margin-right: auto;
}

.chess-img-link {
  margin-left: auto;
  text-align: end;
  height: 6.4rem;
}

.chess-img {
  height: 6.4rem;
}

.user-img {
  width: 8rem;
  padding-right: 1.6rem;
}

.user-name {
  color: #383d47;
  font-weight: 800;
}

.time {
  margin-bottom: 1rem;
}

.game {
  color: #5e6778;
  font-weight: 800;
}

.game-5-end {
  color: #939dae;
  font-weight: 800;
}

.club {
  color: #939dae;
  font-weight: 800;
}

a:hover,
a:active {
  color: #0a317b;
}

.private-message {
  color: #5e6778;
  padding: 1.6rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  letter-spacing: 0.8px;
  border: 1px solid #dde7ee;
  /* cursor: pointer; */
}

a:link .private-message,
a:visited .private-message {
  color: #5e6778;
}

a:hover .private-message,
a:active .private-message {
  background-color: #f7fafd;
}

.attribution {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

@media (max-width: 29em) {
  .notification {
    font-size: 1.6rem;
  }

  .notification-message {
    font-size: 1.1rem;
  }

  .private-message {
    font-size: 1.1rem;
    letter-spacing: 0;
  }

  .attribution {
    font-size: 0.69rem;
  }
}
